  body{
  	height: 510vh;
  	background: #181818;
  }
  div{
  	height: 5vh;
  	width: 100%;
  	background: #213e3b;
  }
  div:nth-child(2){
  	background: #41aea9;
  }
  div:nth-child(3){
  	background: #a6f6f1;
  }
  div:nth-child(4){
  	background: #e8ffff;
  }
  ::-webkit-scrollbar{
    width: 12px;
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(#33e1ed,#000);
    border-radius: 6px;
  }